<div class="container">
    <div class="content">
        <h1>{{'login.login' | translate}} {{'or' | translate}} {{'landing.register' | translate}}</h1>
        <div class="buttons">
            <button class="button" mat-raised-button color="primary" routerLink="/login">{{'login.title' | translate}}</button>
            <button class="button" mat-raised-button color="primary" routerLink="/register">{{'register.title' | translate}}</button>
        </div>
        <button class="button" mat-raised-button color="accent" routerLink="/app-hotelForm">{{'visiting' | translate}}</button>
    </div>
</div>