.toolbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 0 16px;
  }
  
  .toolbar__left {
    display: flex;
    align-items: center;
  }
  
  .toolbar__right {
    display: flex;
    align-items: center;
    width: 30%;
    justify-content: flex-end;
  }
  
  .toolbar__middle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
  }
  
  .toolbar__logo {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0 16px;
    border: 2px solid white;
    border-radius: 30px;
  }
  
  .toolbar__button {
    margin-left: 16px;
  }
  
  .toolbar__button:last-child {
    margin-right: 0;
  }
  
  .toolbar__lang-picker {
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-left: 16px;
  }
  
  .toolbar__lang-icon {
    margin-right: 8px;
  }
  